@using TokyoFashion.Models;
@model List<DanhMucSP>
<div class="single__widget widget__bg">
    <h2 class="widget__title h3">Danh Mục Sản Phẩm</h2>
    <ul class="widget__categories--menu">


        @foreach (var item in Model)
        {
        <li class="widget__categories--menu__list" >
            <a href="@Url.Action("SPTheoDanhMuc" , "DanhMuc" , new {@MaDanhMuc=item.MaDanhMuc})">
                <label class="widget__categories--menu__label d-flex align-items-center">
                    <span class="widget__categories--menu__text">-  @item.TenDanhMuc</span>
                </label>
            </a>        
        </li>
        }
    </ul>
</div>