@model TokyoFashion.Models.DanhMucSP

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DanhMucPartial</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
